:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field:#f7f7f7;
    --hospital-green: #acd3b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;


}
body{
    font-family: 'Quicksand', sans-serif;
}
.mobile-menu{
    
    /*padding: 24px;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 24px;
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 24px;
}
.mobile-menu ul{
    padding: 0;
    margin: 24px 0 100PX;
    list-style: none;
    
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu ul li{
   margin-bottom: 24px;
}
.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu ul li .sign-out{
    font-size: var(--sm);
    color: var(--hospital-green);
}