:root{
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field:#f7f7f7;
    --hospital-green: #acd3b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;


}
body{
    font-family: 'Quicksand', sans-serif;
}
.cards-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 12px;
    place-content: center;
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12PX;
}
.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
    

}
.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--very-light-pink);

}
.product-info figure {
   margin: 0;
}
.product-info figure img{
    width: 36px;
    height: 36px;
}

@media (max-width: 640px){

    cards-conteiner{
        display: grid;
        grid-template-columns: repeat(auto-fill,140px);
        
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }

}